@import url(/style/global.css);
@import url(/style/reset.css);

body{
    background-color: var(--primary-color);
}
body::before{
    content: "";
    background-image: url(/images/fundo-riot.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: .2;
    transition: background-image 1s ease-in-out, opacity 1s ease-in-out;
}
.menu{
    padding: 1rem 0;
    width: 100%;
    text-align: center;
    position: relative;
}
.menu__item{
    display: inline-block;
    text-transform: uppercase;
    margin: 0 1.25rem;
}
.menu__icon{
    width: 2.5rem;
    margin: 0 1.25rem;
    vertical-align: middle;
}
.container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.card{
    border: 0.5rem solid white;
    width: calc(100% / 5 - 2%);
    height: 70vh;
    position: relative;
    transition: filter 0.5 ease-in-out;
}
.card__background{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}
.background-lol{
    object-position: calc(21%);
}
.background-tft{
    object-position: calc(70%);
}
.background-lor{
    object-position: calc(70%);
}
.card__image{
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: relative;
    transition: 1s ease-in-out;
}

.card-title{
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 0;
}
.controller{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}
.controller__button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    border: 2px solid white;
    border-radius: 50%;
    background-color: var(--primary-color);
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    z-index: 1;
    transition: transform 0.3s ease-in-out;
}
.controller__button:nth-child(2),
.controller__button:nth-child(4){
    margin: 0 3.75rem;
}
.controller__button:hover{
    transform: scale(1.1);
}
.controller__line{
    background-color: white;
    width: 70%;
    height: 2px;
    position: absolute;
}

/*Hover animation (js)*/

.card--hovered .card__background{
    cursor: pointer;
    opacity: 0;
}
.card--hovered .card__image{
    transform: scale(1.4);
    filter: drop-shadow(30px 10px 4px rgba(0,0,0, .5));
}
body#s-league-of-legends-hovered::before{
    background-image: url(/images/cards/LEAGUE\ OF\ LEGENDS.jpeg);
}
body#s-teamfight-tatics-hovered::before{
    background-image: url(/images/cards/tftfundo.jpg);
}
body#s-valorant-hovered::before{
    background-image: url(/images/cards/characters-from-valorant_5000x2812_xtrafondos.com.jpg);
}
body#s-legends-of-runeterra-hovered::before{
    background-image: url(/images/cards/Nasus\ vs\ Renekton.jpg);
    background-size: cover;
}
body#s-wild-rift-hovered::before{
    background-image: url(/images/cards/LoL_WR_KV_Banner_1920x1080.jpg);
}

body[id^="s-"]::before{
    opacity: 1;
}
body[id^="s-"] .card:not(.card--hovered){
    filter: grayscale(100%);
    opacity: 0.1;
}

